<web-app>


	<servlet>
		<servlet-name>kamata</servlet-name>
		<servlet-class>KamataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>kamata</servlet-name>
		<url-pattern>/mahiro</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>time</servlet-name>
		<jsp-file>/time.jsp</jsp-file>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>time</servlet-name>
		<url-pattern>/time</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>list</servlet-name>
		<jsp-file>/listoutput.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	
</web-app>